{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Bitcoin #2</h1>
<p>
    The whole thing basically came out the  gate as a speculative financial vehicle   and so the only consumer market  that proved to be a viable use  
  was buying and selling prohibited drugs where  the high fees, rapid price fluctuations,   and multi-hour transaction times were mitigated  by receiving LSD in the mail a week later.
  And as far as banking is concerned, Bitcoin  was never designed to solve the actual problems   created by the banking industry, only to be the  new medium by which they operated. The principal  
  offering wasn’t revolution, but at best a changing  of the guard. The gripe is not with the outcomes   of 2008, but the fact that you had to be well  connected in order to get in on the grift in 2006.
  And even the change of the guard is an illusion.  Old money finance assholes like the Winkelvoss   twins were some of the first big names to jump  on to crypto, where they remain to this day.
  Financial criminal Jordan Belfort, convicted  of fraud for running pump and dump schemes   and barred for life from trading regulated  securities or acting as a broker, loves Crypto.
  Venture capitalist Chris Dixon, who has  made huge bank off the “old web” in his   role as a general partner at VC firm Andreessen  Horowitz Capital Management, is super popular  
  in the NFT space. He likes to paint himself as  an outsider underdog fighting the gatekeepers,  
  but he also sits on the boards of  Coinbase, a large cryptocurrency   exchange that makes money by being  the gatekeeper collecting a fee on  
  all entries and exits to the crypto economy, and  Oculus VR, which is owned by Meta, nee Facebook.
  Peter Thiel, who also went from wealthy to  ultra-wealthy off the Web2 boom via PayPal,  
  loves crypto, and is friends with  a bunch of eugenics advocates who   promote cryptocurrency as a return to “sound  money” for a whole bunch of extremely racist  
  reasons because when they start talking  about banks and bankers, they mean Jews.
  Some of the largest institutional  holders of cryptocurrency   are the exact same investment banks  that created the subprime loan crash.
  Rather than being a reprieve to the  people harmed by the housing bubble,   the people whose savings and  retirements were, unknown to them,  
  being gambled on smoke, cryptocurrency instantly  became the new playground for smoke vendors.
  This is a really important point to stress:  cryptocurrency does nothing to address 99% of  
  the problems with the banking industry, because  those problems are patterns of human behaviour.  
  They’re incentives, they’re social structures,  they’re modalities. The problem is what people   are doing to others, not that the building they’re  doing it in has the word “bank” on the outside.
  In addition to not fixing problems, Bitcoin  also came with a pretty substantial drawback.
  The innovation of Bitcoin over previous attempts  at digital currency was to employ a distributed   append-only ledger, a kind of database where new  entries can only be added to the end, and then to  
  have several different nodes, called validators,  compete over who gets to validate the next update.
  These are, respectively, the blockchain,  and proof-of-work verification.
  Now, proof-of-work has an interesting  history as a technology, typically being   deployed as a deterrent to misbehaviour. For  example, if you require that for every email  
  sent the user’s computer has to complete a  small math problem it places a trivial load  
  onto normal users sending a few dozen,  or even a couple hundred emails a day,   but places a massive load on the infrastructure  of anyone attempting to spam millions of emails.
  How it works in Bitcoin, simply put, is  that when a block of transactions are   ready to be recorded to the ledger all of the  mining nodes in the network compete with one  
  another to solve a cryptographic math problem  that’s based on the data inside the block.
  Effectively they’re competing to figure out  the equation that yields a specific result  
  when the contents of the block are fed into  it, with the complexity of the desired result   getting deliberately more difficult based on the  total processing power available to the network.
  
</p>
</div>
<table class="table table-borderless">
    <tbody>
            <th scope="row"></th>
            <td><a href='{% url 'bitcoin' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=BITCOIN #1</a></td>
            <td></td>
            <td><a href='{% url 'ThirdBitcoin' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">BITCOIN #3=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}