{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Bitcoin #1</h1>
<p>This naked display of greed and fraud  created what would be fertile soil for  
  both anti-capitalist movements  and hyper-capitalist movements:   both groups of people who saw themselves as  being screwed over by the system, with one  
  group diagnosing the problem as the system’s  inherently corrupt and corrupting incentives,  
  and the other seeing the crisis as a consequence  of too much regulation, too much exclusion.
  The hyper-capitalist, or anarcho-capitalist  argument is that in a less constrained   market there would be more incentive to call  foul, that regulation had only succeeded in  
  creating an in-group that was effectively  able to conspire without competition. Of course this argument fails to  consider that a substantial number of  
  people within the system did, in fact, get  fabulously wealthy specifically by betting   against the synthetic success  of the market, but regardless.
  Into this environment in 2009 arrived Bitcoin,  an all-electronic peer-to-peer currency.  
  Philosophically Bitcoin, and  cryptocurrency in general,   was paraded as an end to banks  and centralized currency.
  This is what will form the bedrock,  both philosophical and technological,   that NFTs will be built on  top of. It’s a bit of a hike  
  from here to the Bored Ape Yacht Club,  so I guess get ready for that. Strap in.
  As we get into this we’re going to need to deal  with a lot of vocabulary, and a lot of complexity.  
  Some of this is the result of systems  that are very technically intricate,   and some of this is from systems that  are poorly designed or deliberately  
  obtuse in order to make them difficult to  understand and thus appear more legitimate. The entire subject sits at the intersection  of two fields that are notoriously prone to  
  hype-based obfuscation, computer tech and finance,  and inherits a lot of bad habits from both,  
  with a reputation for making things  deliberately more difficult to understand   specifically to create the illusion that  only they are smart enough to understand it.
  Mining and minting are both methods for making  tokens, which are the base thing that blockchains  
  deal with, but the two are colloquially different  processes, where mining is a coin token created as  
  a result of the consensus protocol and minting  is a user-initiated addition of a token to a   blockchain. All blockchains are made of nodes,  and these nodes can be watcher nodes, miner nodes,  
  or validator nodes, though most miner nodes are  also validator nodes. Fractionalization is the   process of taking one asset and creating a new  asset that represents portions of the original.
  So you get $DOG, a memecoin crypto DeFi venture  capital fund backed by the fractionalization of  
  the original Doge meme sold as an NFT  to PleasrDAO on the Ethereum network. I’m sorry, some of this is  just going to be like that.
  The idea behind cryptocurrency is that  your digital wallet functions the same as   a bank account, there’s no need for a bank  to hold and process your transactions because  
  rather than holding a sum that conceptually  represents physical currency, the cryptocoins   in your cryptowallet are the actual money. And  because this money isn’t issued by a government  
  it is resistant to historical cash crises like  hyperinflation caused by governments devaluing  
  their currency on purpose or by accident. It  brings the flexibility and anonymity of cash and  
  barter to the digital realm, allowing individuals  to transact without oversight or intermediaries.
  And in a one-paragraph pitch you can see the  appeal, there’s a compelling narrative there.
  But, of course, in the twelve years since  then none of that played out as designed.   Bitcoin was structurally too slow and  expensive to handle regular commerce.  
  </p>
</div>
<table class="table table-borderless">
    <tbody>
            <th scope="row"></th>
            <td><a href='{% url 'blockchain' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=THE BLOCKCHAIN</a></td>
            <td></td>
            <td><a href='{% url 'SecondBitcoin' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">BITCOIN #2=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}