{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>What is the correlation between NFTs and crypto? #1</h1>
<p>
  Before we move into that this is the root of it:   there is a tremendous disconnect between what NFT  advocates say they do and what they actually do.
But, and this is very important,   both the claimed functionality and  the actual functionality are both bad.
It’s all broken, none of it works well,   so the idea of it becoming the norm is  terrible, but the prospect of what the  
world would look like if all the mythologizing  and over-promising came true also super sucks.
The end goal of this infinite machine  is the financialization of everything. Any benefits of digital  uniqueness end up being a quirk,  
a necessary precondition of turning  everything into a stock market. There’s nothing particularly offensive  underpinning the concept of digital collectibles,  
frameworks and subcultures for  digital collectibles have existed for   decades within various contexts, but NFTs  
exist to lend credibility and functionality to  the cryptocurrencies that they exist on top of.
Okay, okay, okay, code is law. Now, what that little smart contract  program does is up to the token creator.
It can be a relatively sophisticated applet that  allows the user to execute various commands,   or it can be a plain hypertext link to a  static URL of an image, or anything in between.
Most are a lot closer to static URLs  than they are to functional programs. This is in part because the thing  that NFTs have become synonymous with  
are digital artworks, but really what  the token represents is arbitrary. It can be a video game item, a  permission slip, a subscription,  
a domain name, a virus that steals all your  digital stuff, or a combination of all of those.
While the concept has been floating around since  2015 when the framework was thrown together   in a day during a hack-a-thon, and the first  Ethereum implemented tokens were minted in 2017,  
for the mainstream the story starts in the spring  of 2021 following a string of high-priced sales  
of tokens minted by digital artist Beeple,  culminating in a $69 million dollar sale  
of a collage of Beeple’s work in March  via old money auction house Christie’s. This high-profile sale triggered a media  frenzy and an online gold rush as various  
minor internet celebrities raced to cash in on  the trend, hoping to be the next to cash out big.
Over the course of about six  weeks the ecosystem burnt   through just about every relevant meme possible.
Laina Morris, popularized on Reddit as  Overly Attached Girlfriend, sold the   “original screengrab” to Emirati  music producer Farzin Fardin Fard  
for the equivalent of a little over $400,000 US. Zoe Roth, aka Disaster Girl,  
sold the original Disaster Girl  photograph to Fard, for also $400,000.
Kyle Craven sold the original Bad Luck Brian  photo for $36,000 to anonymous buyer @A.
Nyan Cat sold for almost $600,000 with  multiple variants also selling for six figures.
Allison Harvard sold Creepy  Chan I and II for $67,000 and   $83,000, respectively, also both to Fard.
In addition to these high-profile sales of things  that were already popular, whale buyers like Fard   were dropping four and five figure sales  onto a random assortment of other artworks.
Corporations and individuals auctioned  off NFTs representing intangible,   non-transferable concepts, like the  “first tweet” or “the first text message.”
Cryptocurrency evangelists jumped at  every opportunity to proselytize this new,   bold, revolutionary marketplace that  would free artists from the yoke of  
the gig economy and provide buyers  with an immutable record of ownership   of authenticated artworks stored  on an eternal distributed machine.
You could be holding the next generation’s  Picasso! Artists could continue to earn   passive revenue from secondary sales!  Imagine what it’ll be worth in five years!
This created an air of absolute mania, as it  seemed like anything could be the golden ticket. Digital artists, especially those  working with media like generative  
art that’s difficult to monetize via  conventional channels like physical prints,   raced into the space and, on  the whole, lost a lot of money.
Critics began questioning what it was  that was actually being bought and sold. Copyright? Commercial permissions?  A digital file? Bragging rights?
</p>
</div>
<table class="table table-borderless">
    <tbody>
          <tr>
            <th scope="row"></th>
            <td><a href='{% url 'what' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=WHAT ARE NFTS</a></td>
            <td></td>
            <td><a href='{% url 'SecondCorrelation' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">NFTS AND CRYPTO CORRELATION #2=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}