{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>What is the correlation between NFTs and crypto? #4</h1>
<p>
    There’s a finite supply of meaningful  originals, so to keep this thing going,   to keep the line going up, you need something  more, something less tied to anything specific.
    In the months since the initial  craze the marketplace had mutated. The It Thing was no longer memes or  digital works from established artists,  
    but character profiles from large, procedurally  generated collections with names like CryptoPunks,  
    Bored Ape Yacht Club, Lazy Lions,  Cool Cats, Ether Gals, Gator World,   Baby Llama Club, Magic Mushroom Club,  Rogue Society Bot, and Crypto Chicks.
    These were notable for, again, commanding utterly  irrational prices seemingly completely decoupled  
    from any legitimate or legal transaction,  and being generally extremely fugly.
    This surge generated an immediately  adversarial relationship between the buyers,   who touted them as both evidence  of their extravagant wealth and  
    their foresight into the future of digital  economies, and pretty much everyone else.
    A very common response to anyone using one of  these profile pics, or bragging about their   purchase, became saving and reposting the image  in reply, or even changing profile pics to match.
    Spurred by a speculative tweet from  Twitter developers suggesting that   they were working on an NFT verification  system, Twitter users broadly rallied at the  
    opportunity to immediately identify  people that it was okay to bully. Tweets from within the cryptosphere started  leaking out, things like Santiago Santos  
    tweeting things like “NFTs = Identity 2.0. Can’t  remember the last time I used my pic on the left.”
    Emphasis on physical traits. Genetic  lottery. Prone to bias and prejudice. Identity by choice. Unique and digitally  scarce. Representation of values and beliefs.
    Of course what Santiago was leaving out was  that he had paid the equivalent of $171,000  
    US for that profile pic, which probably gives him  some incentive to really commit to it as something  
    interesting and special, even  though, stripped to the studs,   literally all he was describing was using a  non-representational image as a profile pic.
    For about six years my profile pic on the Dungeons  and Dragons forums was a stock photo of a cabbage.
    So, not really breaking new ground here. Greg Isenberg sat at his computer and  decided to bang out “most people who  
    make fun of NFTs - Own zero NFTs  - Have never minted an NFT - Have never participated in a community Have never staked their NFT - Haven’t built on-top of an NFT project  - Have never earned an NFT playing a game - Missed out on BAYC, Punks, Cool Cats etc.”
    A chain of logic implying that skeptics of  the market are just uninformed sore losers. Incidents like these lent to the very  accurate perception that the loudest  
    voices in NFTs weren’t very familiar  with internet culture as a whole,   weren’t terribly smart in general, and were by and  large coming at all this from the financial side,  
    further supported by all of them having “tweets  are not investment advice” in their twitter bios.
    In short the same people  who made and bought Juicero.
    It also laid bare that the  conversations were inherently suspect. How can you ever trust the sincerity  of someone telling you how awesome  
    their $171,000 investment is when your  persuasion stands to directly benefit them  
    by potentially driving up the value  of their investment portfolio? You’ve gotta be extremely rich for  $171,000 to not be an extremely sunk cost,  
    and that’s absolutely going to weigh on your  mind and influence how you see the market.
    
</p>
</div>
<table class="table table-borderless">
    <tbody>
            <th scope="row"></th>
            <td><a href='{% url 'ThirdCorrelation' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=NFTS AND CRYPTO CORRELATION #3</a></td>
            <td><a href='{% url 'CorrelationQuiz' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">TEST MY KNOWLEDGE</a></td>
            <td><a href='{% url 'wise' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">IS IT WISE TO INVEST IN NFTS=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}