{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>What is the correlation between NFTs and crypto? #3</h1>
<p>
    While a few sellers, legitimate and otherwise,  made off with undeniably big paydays,   hundreds of thousands of artists bought  in only to find that there wasn’t a new,  
    revolutionary, highly trafficked  audience of digital art collectors. Instead there was a closed market dealing in  casino chips where the primary winners were  
    those already connected, who already had the means  to get the attention of the whales and the media,   a market where participation required buying  into a cryptocurrency at a rapidly fluctuating  
    price in order to pay the minting costs to  post the work, where it would sit, unsold. This left those artists in the lurch,  where they had to choose between just  
    eating the losses, or attempting to convince  their existing audience to buy-in as well. The people who actually won were the people  with large holdings of cryptocurrency,  
    specifically Ethereum which mediated the  vast majority of these big ticket purchases. David Gerrard, author of Attack  of the 50 Foot Blockchain,  
    summarized it on his blog very succinctly as such: “NFTs are entirely for the benefit of the crypto  grifters. The only purpose the artists serve  
    is as aspiring suckers to pump the  concept of crypto — and, of course,   to buy cryptocurrency to pay for ‘minting’ NFTs.  
    Sometimes the artist gets some crumbs to  keep them pumping the concept of crypto.” The rush benefits them in two ways: first  the price of Ether itself goes up directly  
    from the spike in demand, between January and  May the price of Ether rose from $700 to $4000,  
    and second there’s new actual buyers  who aren’t just trading Bitcoin for   tether for ether and back again,  but are buying in with dollars,  
    providing the whole system with the liquidity  needed for whales to actually cash out. This arrangement, needing to buy a highly  volatile coin from people who paid far,  
    far less for it in order to participate  in a market that they control,   is why people reflexively describe  the whole arrangement as a scam.
    If you buy in at $4000 and compete against  people who bought in at $4, you’re the sucker.
    It reveals the basic truth that these  aren’t marketplaces, they’re casinos. And, indeed, even through all the rhetoric  
    of “protecting artists” and whatnot was  the ever-present spectre of the gamble:   whatever you buy now might be  worth hundreds of times more later.
    Constantly invoked is the opposite  proposition of the bad deal:   what if you had been the  person who bought in at $4?
    Let’s take a closer look at that eye  watering $69 million Beeple sale.
    Independent journalist Amy Castor has done an  enviable job running down the details here in   her piece “Metakovan, the mystery Beeple art  buyer, and his NFT/DeFi scheme“ but to summarize  
    the long and short of her notes, the buyer is  a crypto entrepreneur named Vignesh Sundaresan   who purchased the piece to boost the reputation  and value of his own crypto investment scheme  
    Metapurse and Metapurse’s own token B.20,  which Beeple owns 2% of the total supply of.
    Following the Christie's sale the reported  value of B.20 went from 36¢ per token to $23.
    And that’s just the anatomy of a single sale. The very obvious conclusion observers reached  was that none of this is about the art at all,  
    but the speculative value;  not what it’s worth to you,   but what it’ll potentially be worth  in the future to someone else.
    It’s not a market, it’s a casino, gambling on the  receipt for an image or video that’s otherwise   infinitely digitally replicable.
    The thing itself is immaterial as  long as it can make a line go up. This is the essence of the market,  and a microcosm of what evangelists  
    imagine they want to see as the future,  the financialization of everything. The frenzied market around old Reddit  memes was doomed from the start.  
    
</p>
</div>
<table class="table table-borderless">
    <tbody>
            <th scope="row"></th>
            <td><a href='{% url 'SecondCorrelation' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=NFTS AND CRYPTO CORRELATION #2</a></td>
            <td></td>
            <td><a href='{% url 'FourthCorrelation' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">NFTS AND CRYPTO CORRELATION #4=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}