{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Why cryptocurrency started #1</h1>
<p>In 2008 the economy functionally collapsed. The basic chain reaction was this: Banks came up with a thing called  a mortgage-backed security,   a financial instrument that could be traded  or collected that was based on a bundle
  of thousands of individual mortgages. Based on the  general reluctance of banks to issue mortgages, the risk-aversion in lending someone hundreds  of thousands of dollars that they’ll pay off   over the course of decades, these bonds  were seen as especially stable. However 
  they were also immensely profitable for the  banks who both issue the mortgages and the bonds. Because of that perceived stability a  lot of other financial organizations,   like pension funds and hedge funds, used them  as the backbone of their investment portfolio.
  In this arrangement a mortgage becomes more  profitable to the bank issuing the mortgage   as a component of a bond than it is as a  mortgage. Proportionally the returns per 
  mortgage from the bond are just that much better  than the returns from the isolated mortgage. There’s some problems, though. Problem one is  that the biggest returns on a bond come from 
  when it first hits the market, a new bond  that creates new securities sales is worth   more than an old bond that is slowly appreciating,  but not seeing much trade. Problem two
  is that there are a finite number  of people and houses in America;   the market has to level out at a natural  ceiling as eventually all or nearly all
  mortgages are packaged into bonds, thus very  few new bonds can be generated and sold. So here’s the incentives that are created. One: it’s good for banks if there are more  houses that they can issue mortgages for
  Two: the more mortgages issued the  better, because a bad mortgage is   worth more as a component of a bond than  a good mortgage that’s not part of a bond.
  So real estate developers find that they have a  really easy time getting funding from banks for creating vast new suburbs full of houses  that can be sold to generate mortgages,   but rather than building the kind of  housing most people actually need and want,
  they focus specifically on the kinds of  upper-middle-class houses that fit into the sweet spot from the perspective of the banks packaging  the bonds. Buyers, in turn, find that they have a 
  suspiciously easy time getting a mortgage despite  the fact that, for most people, the economy wasn’t doing so great. Wages were stagnant and yet even  though developers were going absolutely haywire
  building new housing, the houses being built  were all out of their price range to begin with,   and counter intuitively this massive increase in supply wasn’t driving down the price. 
  This is because the houses were being bought, just  mostly not by people intending to live in them. They were being bought by speculators who  would then maybe rent them out or often just   leave them vacant with the intent  to sell a couple years later.
  Because speculators were buying up the supply  it created synthetic demand. The price keeps   going up because speculators keep buying, which  creates the illusion that the value is going up,
  which attracts more speculators who buy up  more supply and further inflate the price. These speculators are enabled by a system  that is prioritizing generating new mortgages   purely for the sake of having more  mortgages to package into bonds.
  

</p>
</div>
<table class="table table-borderless">
    <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href='{% url 'SecondCrypto' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">WHY CRYPTOCURRENCY STARTED #2=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}