{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Why cryptocurrency started #2</h1>
<p>
    The down payments are low and the mortgages  all have a really attractive teaser rate,   meaning that for the first three to seven years of  the mortgage the monthly payments are rock bottom, 
  as low as a few hundred dollars per month against  a mortgage that would normally charge thousands. Caught up in all this are legitimate  buyers who have been lured into signing   for a mortgage that they can’t afford  by aggressive salespeople who have an
  incentive to generate mortgages that they can  then sell to a bank who can put it into a bond   to sell to pension funds to make a line go  up, because it’s good when the line goes up.
  It’s a bubble. The bubble burst as the teaser rates  on the mortgages started to expire,   the monthly cost jumped up, and  since the demand was synthetic 
  there were no actual buyers for the  speculators to sell the houses to. So the speculators start dumping stock, which  finally drives prices down, but because the 
  original price was so inflated the new price  is still out of reach of most actual buyers. Legitimate buyers caught in the  middle find their rates jumping, too,   but because the price of the house is going  down as speculators try and dump their stock
  the price of the house goes down  relative to the mortgage issued,   and thus they can’t refinance and are  locked into paying the original terms.
  Unable to sell the house and unable  to afford the monthly payments,   the owners, legitimate and speculators,  default on their mortgages, they stop paying.
Eventually the default rate reaches  criticality and the bonds fail.   As the bonds fail this impacts all the first order  buyers of the bonds, hedge funds, pension funds,  
retirement savings funds, and the like.  It also cascades through all derivatives,  
which are financial products that take their  value directly from the value of the bond.
This creates a knock-on effect: huge segments  of the economy turn out to be dead trees,  
rotten to the core, but as a rotten tree falls   it still shreds its neighbours  and crushes anything below it.
It was a failure precipitated by a  combination of greed, active fraud,   and willful blindness at all levels of power.  The banks issuing the bad mortgages were the same  
banks selling the bonds and providing the capital  to build the houses to generate the mortgages.   The ratings agencies checking the bonds were,  themselves, publicly traded and dependent  
on being in good relations with the banks,  incentivized to rubber stamp whatever rating   would make their client happy. The regulatory  agencies that should have seen the problem coming  
were gutted by budget cuts and mired  in conflicts of interest as employees   used their positions in regulation to  secure higher paying jobs in industry.  
And, the cherry on top, the people largely  responsible for it all knew that because they   and their toxic products were so interwoven into  the foundations of the economy they could count  
on a bailout from the government because no matter  how rotten they were, they were very large trees.
</p>
</div>
<table class="table table-borderless">
    <tbody>
          <tr>
            <th scope="row"></th>
            <td><a href='{% url 'crypto' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=WHY CRYPTOCURRENCY STARTED #1</a></td>
            <td><a href='{% url 'cryptoQuiz' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">TEST MY KNOWLEDGE</a></td>
            <td><a href='{% url 'blockchain' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">THE BLOCKCHAIN=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}