{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Etherium #2</h1>
<p>
    For years dudes were going around asking  vendors if they could slap a Bitcoin   sticker onto the back of the cash register,  because the optics of making it look like a  
    place takes Bitcoin was cheaper and easier  than actually using Bitcoin as a currency.
    We have an entire decade of  credulous articles about how   Venezuela and Chile are on the verge  of switching entirely to crypto,  
    based entirely on the claim of two  trust fund dudes from San Bernardino.
    A whole ten years littered with discarded  press releases about Dell and Microsoft and   Square bringing crypto to the consumers  before just quietly discontinuing their  
    services after a year or two when they  realize the demand isn’t actually there.
    The fact that the development of Ethereum was  extremely dependent on a $100,000 fellowship   grant from Peter Thiel is mentioned, but the  ideological implications of that connection  
    are never explored, the entire subject occupies  a single paragraph sprinkled as flavour into a  
    story about Vitalik and his co-developers airing  their grievances about some petty infighting.
    The book is mostly useful for it’s value  as a point of reference against reality.   It’s a very thorough, if uncritical,  document of absolutely insane claims.
    “The idea was that traits of  blockchain technology—such   as having no central point of failure, being  uncensorable, cutting out intermediaries,  
    and being immutable—could also benefit  other applications besides money.   Financial instruments like stocks and bonds, and  commodities like gold, were the obvious targets,  
    but people were also talking about putting other  representations of value like property deeds and   medical records on the blockchain, too. Those  efforts—admirable considering Bitcoin hadn’t,  
    and still hasn’t, been adopted widely  as currency—were known as Bitcoin 2.0.” I love this paragraph because it  outlines just how disconnected  
    from reality the people actually  building cryptocurrencies really are. They don’t understand anything about the  ecosystems they’re trying to disrupt,  
    they only know that these are things  that can be conceptualized as valuable   and assume that because they understand one very  complicated thing, programming with cryptography,  
    that all other complicated things must  be lesser in complexity and naturally  
    lower in the hierarchy of reality, nails easily  driven by the hammer that they have created.
    The idea of putting medical records on a  public, decentralized, trustless blockchain   is absolutely nightmarish, and anyone who  proposes it should be instantly discredited.
    The fact that Russo fails to question  any of this is journalistic malpractice. Now, in terms of improvements over  Bitcoin, Ethereum has many. It’s not hard.
    Bitcoin sucks. In terms of problems with Bitcoin,  Ethereum solves none of them and   introduces a whole new suite of problems  driven by the technofetishistic egotism of  
    assuming that programmers are uniquely  suited to solve society’s problems.
</p>
</div>
<table class="table table-borderless">
    <tbody>
          <tr>
            <th scope="row"></th>
            <td><a href='{% url 'etherium' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=ETHERIUM #1</a></td>
            <td><a href='{% url 'EtheriumQuiz' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">TEST MY KNOWLEDGE</a></td>
            <td><a href='{% url 'what' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">WHAT ARE NFTS=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}