{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Etherium #1</h1>
<p>
  In 2012 Vitalik Buterin, a crypto  enthusiast and butthurt Warlock main   set out to fix what he saw as the  failings and inflexibilities of Bitcoin.
Rather than becoming the new digital currency,  a thing that people actually used to buy stuff,  
Bitcoin had become an unwieldy  speculative financial instrument,   too slow and expensive to use for anything  other than stunt purchases of expensive cars.
It was infested with money  laundering and mired in bad press. After the FBI shut down Silk Road you  couldn’t even buy drugs with it anymore.
In practice you couldn’t do anything  with your Bitcoin but bet on it,   lock up money you already have in the hopes  that Bitcoin goes up later, and pray you don’t  
lose it all in a scam, lose access to your  wallet, or have it all stolen by an exchange.
The result, launched in 2015, was Ethereum, a  competing cryptocurrency that boasted lower fees,  
faster transaction times, a  reduced electrical footprint,   and, most notably, a sophisticated  processing functionality.
While the Bitcoin blockchain only tracks  the location and movement of Bitcoins,   Ethereum would be broader. In addition to  tracking Ether coins, the ledger would also  
be able to track arbitrary blocks of data.  As long as they were compatible with the   structure of the Ethereum network,  those blocks of data could even be  
programs that would utilize the validation  network as a distributed virtual machine.
Vitalik envisioned this as a vast, infinite  machine, duplicated and distributed across   thousands or millions of computers, a system onto  which the entire history of a new internet could  
be immutably written, immune to censorship,  and impossible for governments to take down.
He saw it dismantling banks and other intermediary  industries, allowing everyone to be their own  
bank, to be their own stock broker, to bypass  governments, regulators, and insurance agencies.
His peers envisioned a future  where Ethereum became not just   a repository of financial transactions, but  of identity, with deeds, driver’s licenses,  
professional credentials, medical  records, educational achievements,   and employment history turned into tokens and  stored immutable and eternal on the chain.
Through crypto and the ethereum  virtual machine they could bring all   the benefits of Wall Street  investors and Silicon Valley  
venture capitalists to the poorest people  of the world, the unbanked and forgotten. This heady high-minded philosophy  is outlined in great detail in the  
journalistic abortion The Infinite Machine  by failed-journalist-turned-crypto-shill   Camilla Russo.
The book is actually really interesting. Not for the merits of the writing, Russo fails  to interrogate the validity or rationality of  
even the simplest claims and falls just  shy of hagiography by occasionally noting   that something was a bit tacky or  embarrassing, but only just shy.
She tells florid stories about the impoverished  people that Vitalik and friends claimed to be   working to save, but never once considers that  the solutions offered might not actually work,  
or that the people claiming to want to solve  those problems might not even be working on them. That’s actually a big issue, since the entire  crypto space, during the entire time that  
Russo’s book covers, was absolutely awash with  astroturfing schemes where two guys would go to  
some small community in Laos or Angola, take  a bunch of pictures of people at a “crypto   investing seminar”, generate some headlines  for their coin or fund, and then peace out.
</p>
</div>
<table class="table table-borderless">
    <tbody>
          <tr>
            <th scope="row"></th>
            <td><a href='{% url 'ThirdBitcoin' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=BITCOIN #3</a></td>
            <td></td>
            <td><a href='{% url 'SecondEtherium' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">ETHERIUM #2=></a></td>
          </tr>
    </tbody>
</table>
{% endblock %}