{% extends "base.html" %}
{% block content %}
<div id="glaven">
<h1>Is it wise to invest in NFTs?</h1>
<p>
  In 2008 the economy functionally collapsed.  The basic chain reaction was this:  
bankers took mortgages and turned them  into something they could gamble on. This created a bubble, and then the bubble popped.
When you drill down into it you realize that the  core of the crypto ecosystem, the core of Web3,  
the core of the NFT marketplace, is a turf  war between the wealthy and ultra-wealthy.
Technofetishists who look at people like  Bill Gates and Jeff Bezos, billionaires   minted via tech industry doors that have  now been shut by market calcification,  
and are looking for a do-over, looking  to synthesize a new market where they   can be the one to ascend from a merely wealthy  programmer to a hyper-wealthy industrialist.
It’s a cat fight between the 5% and the 1%. Ultimately the driving forces underlying  this entire movement are economic disparity.
The wealthy and tenuously wealthy are looking for  a space that they can dominate, where they can be   trendsetters and tastemakers and can seemingly  invent value through sheer force of will.
This is, in my opinion, the  blindspot of many casual critics. The fact that tokens representing ape PFPs  are useless, yet somehow still expensive,  
isn't an overlooked glitch in  the system, it's half the point. It's a digital extension of inconvenient  fashion. It's a flex and a form of mythmaking.
And that's how it draws in the bottom: people  who feel their opportunities shrinking, who see   the system closing around them, who have become  isolated by social media and a global pandemic,  
who feel the future getting smaller, people  pressured by the casualization of work as  
jobs are dissolved into the gig economy, and  want to believe that escape is just that easy.
All you gotta do is bet on the right Discord and  you might be air-dropped the next new hotness.
It could be you plucked out of the  crowd on Rarible and bestowed a six   figure price by an elusive Emerati music producer.
Get a BAYC in your wallet, hodl like a  good diamond hands, and enjoy that yield. All you need is $5000 in seed money and you can  buy a Farmer's World milk cow, and if you milk  
that cow every four hours, day and night, for two  weeks, why there's all your money back right there   and now it's pure profit (minus, naturally, the  overhead of all the WAX you needed to stake,  
the barn you needed to buy and build, the  barley you needed to purchase and grow,   the food you needed to buy to refill the energy  you needed to milk the cow, build the barn,  
and grow the barley, plus you actually need to  cash out which isn't getting paid, it's quitting). This is your chance to stick it to  Wall Street and Venture Capitalists,  
as long as you pay no attention  to the VCs behind the curtain. The line can only go up.
It’s a movement driven in no small part  by rage, by people who looked at 2008,  
who looked at the system as it exists,  but concluded that the problems with   capitalism were that it didn’t provide  enough opportunities to be the boot.
And that’s the pitch. Buy in now, buy in early,  and you could be the high tech future boot.
Our systems are breaking or broken,  straining under neglect and sabotage,  
and our leaders seem at best complacent,  willing to coast out the collapse.
We need something better. But a system that turns everyone into petty  digital landlords, that distills all interaction  
into transaction, that determines the value  of something by how sellable it is and whether  
or not it can be gambled on as a fractional  tokens sold via micro-auction, that’s not it.
A different system does not  inherently mean a better system,   we replace bad systems with  worse ones all the time.
We replaced a bad system of work and  bosses with a terrible system of apps,   gigs, and on-demand labour.
So it’s not just that I oppose NFTs because  the foremost of them are aesthetically vacuous  
representations of the dead inner lives  of the tech and finance bros behind them,   it’s that they represent the  vanguard of a worse system.
The whole thing, from OpenSea fantasies  for starving artists to the buy-in for   Play to Earn games, it's the same hollow,  exploitative pitch as MLMs. It's Amway,  
but everywhere you look people  are wearing ugly ape cartoons.
</p>
</div>
<table class="table table-borderless">
    <tbody>
          <tr>
            <th scope="row"></th>
            <td><a href='{% url 'FourthCorrelation' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true"><=NFTS AND CRYPTO CORRELATION #4</a></td>
            <td></td>
            <td><a href='{% url 'WiseQuiz' %}' class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">TEST MY KNOWLEDGE</a></td>
          </tr>
    </tbody>
</table>
{% endblock %}